.App {
  text-align: center;
}

.container {
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  flex: 0 1 25%;
}

.content {
  padding: 0 0 5px 0;
  text-align: center;
  border-radius: 0.25rem;
  box-shadow: #5e5df0 0 10px 20px -10px;
  width: 300px;
  margin: 15px;
}

.todo-input {
  width: 40%;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 16px;
}

.disabled {
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #ccc;
}
